<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ClinicDB" providerName="System.Data.SqlClient" connectionString="Data Source=IN05N0018F; Initial Catalog=northWindDb; Integrated Security= True; TrustServerCertificate=True" />
	</connectionStrings>
</configuration>